<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Информация о месте</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="workingPlaceInfo">
        <h4 th:text="${workingPlace.getCompany_name()}"></h4>
        <p th:if="${workingPlace.getCompany_name() != null}" th:text="'Компания: ' + ${workingPlace.getCompany_name()}"></p>
        <p th:if="${workingPlace.getPosition() != null}" th:text="'Должность: ' + ${workingPlace.getPosition()}"></p>
        <p th:if="${workingPlace.getStart() != null}" th:text="'Начало работы: ' + ${workingPlace.getStart()}"></p>
        <p th:if="${workingPlace.getEnd() != null}" th:text="'Конец работы: ' + ${workingPlace.getEnd()}"></p>
    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editWorkingPlace">
                <input type="hidden" name="workingPlaceId" th:value="${workingPlace.getId()}"/>
                <input type="hidden" name="personId" th:if="${personId == null}" th:value="${workingPlace.getPerson().getId()}"/>
                <input type="hidden" name="personId" th:if="${personId != null}" th:value="${personId}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию о месте</button>
            </form>
            <form method="post" action="/removeWorkingPlace">
                <input type="hidden" name="workingPlaceId" th:value="${workingPlace.getId()}"/>
                <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить место из базы</button>
            </form>
        </div>
    </div>
    <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>